{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load hitcount_tags %}

{% block content %}

    <header id="header" class="header">
        <div class="container-fluid">
            <div class="brand">
                <a href="{% url 'about:main' %}" class="brand-name"><b>NIZOM</b>OFF</a>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="a-pagepiling full-page">
            <div class="section pp-scrollable slide slide-blog">
                <div class="slide-container pt-0">
                    <div class="page-inner-content">
                        <div class="banner-section bg-lighter pt-150 pb-85 rpb-75 mb-100">
                            <div class="container">
                                <div class="banner-inner">
                                    <h2 class="page-title">{{single_post.category}} ga doir maqolalar ->
                                        {{single_post.id}}</h2>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'blog:list' %}">Barcha maqolalar</a></li>
                                            <li class="breadcrumb-item active">{{ single_post.title }}</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="blog-inner mb-150 rmb-80">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="blog-item">
                                            <img src="{{ single_post.image.url }}" alt="Blog">
                                            <ul class="blog-meta">
                                                <li><i class="far fa-calendar-alt"></i> <a
                                                        href="#">{{ single_post.created_at|date:'d M Y' }}</a>
                                                </li>
                                                <li><i class="far fa-comments"></i> <a href="#kamment">Izohlar
                                                    ({{ single_post.comments.all.count }})</a></li>
                                                <li><i class="far fa-eye"></i>{% get_hit_count for single_post %}</li>
                                            </ul>
                                            <h3>{{ single_post.title }}</h3>
                                            <p>{{ single_post.description|safe }}</p>

                                            <div class="blog-footer d-flex flex-wrap align-items-center pt-25">
                                                <div class="tag-clouds mb-10 mr-auto">
                                                    <b>Teglar </b>
                                                    {% for tag in single_post.tag.all %}
                                                        <a href="{% url 'blog:list' %}?tag={{ tag }}">{{ tag.title }}</a>
                                                    {% endfor %}
                                                </div>
                                                <div class="social-style-one mb-10">
                                                    <b>Ulashmoq: </b>
                                                    <a>{% post_to_telegram object_or_url "" %}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div name="kamment" class="comments pb-10">-->
<!--                                        {% if single_post.comments.all %}-->
<!--                                            <h3 class="comment-title mb-30 pt-40">Barcha izohlar</h3>-->
<!--                                        {% endif %}-->
<!--                                        {% for comment in single_post.comments.all %}-->
<!--                                            <div class="comment-item wow fadeInUp delay-0-2s">-->
<!--                                                <div class="comment-details">-->
<!--                                                    <div class="name-date">-->
<!--                                                        <h5>{{ comment.name }}</h5>-->
<!--                                                        <span class="date">{{ comment.created_at|date:'d M Y' }}</span>-->
<!--                                                    </div>-->
<!--                                                    <p>{{ comment.comment }}</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        {% endfor %}-->
<!--                                        <form id="comment-form" class="comment-form"-->
<!--                                              action="{% url 'blog:comment' pk=single_post.pk %}" method="POST">-->
<!--                                            {% csrf_token %}-->
<!--                                            <h3 class="comment-title">Izoh qoldiring</h3>-->
<!--                                            <div class="row clearfix">-->
<!--                                                <div class="col-sm-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <input type="text" id="name" name="name" class="form-control"-->
<!--                                                               placeholder="Ismingiz kiriting" required="">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-sm-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <input type="email" id="email" name="email" class="form-control"-->
<!--                                                               placeholder="Email manzilingizni kiriting" required="">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-12">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <textarea name="comment" id="comment" rows="5"-->
<!--                                                                  class="form-control" placeholder="Izohingizni yozing"-->
<!--                                                                  required=""></textarea>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-12">-->
<!--                                                    <div class="form-group mb-0">-->
<!--                                                        <button class="theme-btn" type="submit">send message <i-->
<!--                                                                class="fas fa-arrow-right"></i></button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </form>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <div class="footer-contact text-center mb-35">
                                <div class="section-title mb-30 animate-element delay8 fadeInUp">
                                    <h2>Stay Connected</h2>
                                </div>
                                <span class="country list-inline-item animate-element delay9 fadeInUp">Tashkent. Uzbekistan</span>
                                <h3 class="animate-element delay6 fadeInUp"><a href="mailto:mexrojxon.dev@gmail.com">mexrojxon.dev@gmail.com</a>
                                </h3>
                                <a href="callto:+998903550427"
                                   class="number list-inline-item animate-element delay10 fadeInUp">+998903550427</a>
                                {% for link in social %}
                                        <div class="social-style-two mt-25 animate-element delay11 fadeInUp">
                                            {% if link.github %}
                                                <a href="{{ link.github }}"><i class="bi bi-github fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.instagram %}
                                                <a href="{{ link.instagram }}"><i class="bi-instagram fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.telegram %}
                                                <a href="{{ link.telegram }}"><i class="bi bi-telegram fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.linkedin %}
                                                <a href="{{ link.linkedin }}"><i class="bi bi-linkedin fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.blog %}
                                                <a href="{{ link.blog }}"><i class="bi bi-pencil fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.youtube %}
                                                <a href="{{ link.youtube }}"><i class="bi bi-youtube fs-25 "></i></a>
                                            {% endif %}

                                            {% if link.twitter %}
                                                <a href="{{ link.twitter }}"><i class="bi bi-twitter fs-25 "></i></a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="footer-bottom-shape">
                            <img src="{% static 'images/contact/footer-bottom-shape.png' %}" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}